/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: verdana;
	font-size: 12px;
	line-height: 18px;
	color: #666666;
}
.clear {
	overflow: hidden;
}
.template {
	width: 1000px;
	margin: 0 auto;
}

.headersection {
	background-color: #81201A;
	height: 120px;
}
.headerleft {
	width: 300px;
	margin-left: 20px;
	float: left;
}
.headerleft h2 {
	font-family: Georgia;
	font-size: 32px;
	color: #ffffff;
	margin: 40px 30px 0 0;
	font-weight: normal;
}
.headerleft p {
	color: #d2d2d2;
	padding-top: 3px;
}
.mainmenu {
    float: right;
    width: 536px;
    margin: 25px 0 20px 0;
}
.mainmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.mainmenu ul li {
	float: left;
	display: block;
}
.mainmenu ul li a {
	text-decoration: none;
	font-size: 16px;
	color: #d2d2d2;
	display: block;
	margin: 10px;
	padding: 5px;
	text-transform: uppercase;
	font-weight: normal;
	padding-top: 15px;
}
.mainmenu ul li a:hover, #active {
	color: black;
	border-top: 2px solid #000;
	
}
.mainmenu ul li a span {
	font-family: arial;
	font-size: 12px;
	color: #999999;
	text-transform: lowercase;
	display: block;
}

.bannersection {
	height: 300px;
	background-color: #3E0D09;
	position: relative;
}
.bannerleft {
	float: left;
	width: 500px;
	margin-left: 20px;
}
.bannerleft h1 {
	font-family: Georgia;
	font-size: 46px;
	color: #fff;
	font-weight: normal;
	line-height: 45px;
}
.bannerleft p {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	line-height: 22px;
}
.bannerright {
    float: right;
    width: 432px;
    margin-right: 20px;
    margin-top: 20px;
}
.bannerright img {
	padding: 5px;
	float: left;
}

.contentsection {
	height: 340px;
	background: #E4DFCB;
}
.contentin {
	background: #fff;
	width: 920px;
	height: 360px;
	margin: 0 auto;
	margin-top: -40px;
	position: absolute;
	margin-left: 40px;
}
.contentpost {
    float: left;
    width: 266px;
    padding: 20px;
}
.contentpost img {}
.contentpost h3 {
	font-family: Georgia;
	font-size: 18px;
	color: #660000;
	border-bottom: 1px solid #B2B2B2;
	font-weight: normal;
	padding-bottom: 5px;
}
.contentpost ul {
	margin: 0;
	padding: 0;
	padding-left: 25px;
}
.contentpost ul li {
	line-height: 22px;
	
}
.contentpost p {
	margin: 0;
}
.contentpost h4 {}
.contentpost h3 {}

.footertop {
	background: #CEC6A2;
	height: ;
}
.contact {
	width: 350px;
	margin-left: 20px;
	float: left;
}
.contact h2 {
	font-family: Georgia;
	font-size: 22px;
	color: #333333;
	font-weight: normal;
	border-bottom: 1px solid #333333;
	padding-bottom: 10px;
}
.contact p {}
.textinput {
	float: left;
	margin-right: 8px;
}
.contact input[type="text"] {
	border: 1px solid #fff;
	padding: 3px;
}
.contact input[type="email"] {
	border: 1px solid #fff;
	padding: 3px;
}
.contact input[type="textarea"] {
	border: 1px solid #fff;
	height: 85px;
	width: 335px;
}
.contact input[type="submit"], .contact input[type="reset"] {
	border: medium none;
	padding: 5px 10px;
	font-size: 13px;
	background: #F7F7F7;
	margin-right: 8px;
}
.allpost {}
.postsection {
    width: 558px;
    float: right;
}
.samepost {
	float: left;
	width: 180px;
}
.samepost h2 {
	font-family: Georgia;
	font-size: 22px;
	color: #333333;
	font-weight: normal;
	border-bottom: 1px solid #333333;
	padding-bottom: 10px;
	margin-right: 20px;
}
.samepost p {
	color: #333333;
}
.subscribe {}
.subscribe p {
	width: 275px;
	background: #E4DFCB;
	padding: 5px 10px;
	float: left;
}
.subform {
    float: right;
    margin-right: 20px;
    padding: 11px 0;
}
.subscribe input[type="text"] {
	padding: 5px;
	width: 174px;
	border: 1px solid #fff;
}
.subscribe input[type="submit"] {
	padding: 4px 10px;
	font-size: 14px;
	color: #666666;
	border: 1px solid #F7F7F7;
	background: #F7F7F7;
}

.footersection {
	height: 40px;
	background: #250705;
}
.footerleft {float: left;margin-left: 20px;}
.footerleft p, .footerright p {
	color: #fff;
	font-weight: normal;
}
.footerright {float: right; margin-right: 20px;}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
